---
import { Image } from "astro:assets";
import Page from "../layouts/Page.astro";

import litLogo from "../assets/lit.svg";
import shoelaceLogo from "../assets/shoelace.svg";
import floatingUILogo from "../assets/floating-ui.svg";
import customElementsManifestLogo from "../assets/custom-elements-manifest.svg";
import pagefindLogo from "../assets/pagefind.svg";
---

<Page title="Placer Toolkit" hero>
    <div class="landing-page">
        <div class="above-fold">
            <section class="main-info">
                <h1 class="main-title">
                    <svg xmlns="http://www.w3.org/2000/svg" width="75%" viewBox="0 0 103 20">
                        <path
                            d="M8.5 2a2 2 0 0 1 2 2v1h.621C14.315 5 15 5.685 15 8.879V9.5h1a2 2 0 1 1 0 4h-1v.621C15 17.315 14.315 18 11.121 18H5.88C2.685 18 2 17.315 2 14.121V8.88C2 5.685 2.685 5 5.879 5H6.5V4a2 2 0 0 1 2-2Zm0 5.5a.375.375 0 0 0-.352.244l-.926 2.478-2.478.926a.376.376 0 0 0 0 .704l2.478.927.928 2.479a.376.376 0 0 0 .701-.002l.928-2.478 2.479-.928a.376.376 0 0 0-.002-.701l-2.478-.927-.926-2.478A.375.375 0 0 0 8.5 7.5Z"
                            fill="url(#gradient-1)"
                        />
                        <path
                            d="M26.368 6.6C26.784 6.6 27.172 6.72 27.532 6.96C27.9 7.2 28.196 7.524 28.42 7.932C28.644 8.34 28.756 8.796 28.756 9.3C28.756 9.796 28.644 10.248 28.42 10.656C28.196 11.064 27.9 11.392 27.532 11.64C27.172 11.88 26.784 12 26.368 12H24.16L24.28 11.784V14.268C24.28 14.476 24.216 14.652 24.088 14.796C23.96 14.932 23.792 15 23.584 15C23.384 15 23.22 14.932 23.092 14.796C22.964 14.652 22.9 14.476 22.9 14.268V7.332C22.9 7.124 22.968 6.952 23.104 6.816C23.248 6.672 23.424 6.6 23.632 6.6H26.368ZM26.368 10.632C26.52 10.632 26.668 10.568 26.812 10.44C26.956 10.312 27.076 10.148 27.172 9.948C27.268 9.74 27.316 9.524 27.316 9.3C27.316 9.068 27.268 8.852 27.172 8.652C27.076 8.452 26.956 8.292 26.812 8.172C26.668 8.044 26.52 7.98 26.368 7.98H24.136L24.28 7.764V10.824L24.148 10.632H26.368ZM31.5705 14.268C31.5705 14.476 31.4985 14.652 31.3545 14.796C31.2185 14.932 31.0465 15 30.8385 15C30.6385 15 30.4705 14.932 30.3345 14.796C30.1985 14.652 30.1305 14.476 30.1305 14.268V6.852C30.1305 6.644 30.1985 6.472 30.3345 6.336C30.4785 6.192 30.6545 6.12 30.8625 6.12C31.0705 6.12 31.2385 6.192 31.3665 6.336C31.5025 6.472 31.5705 6.644 31.5705 6.852V14.268ZM38.5008 8.46C38.7088 8.46 38.8808 8.528 39.0168 8.664C39.1528 8.8 39.2208 8.976 39.2208 9.192V14.268C39.2208 14.476 39.1528 14.652 39.0168 14.796C38.8808 14.932 38.7088 15 38.5008 15C38.2928 15 38.1208 14.932 37.9848 14.796C37.8488 14.652 37.7808 14.476 37.7808 14.268V13.68L38.0448 13.788C38.0448 13.892 37.9888 14.02 37.8768 14.172C37.7648 14.316 37.6128 14.46 37.4208 14.604C37.2288 14.748 37.0008 14.872 36.7368 14.976C36.4808 15.072 36.2008 15.12 35.8968 15.12C35.3448 15.12 34.8448 14.98 34.3968 14.7C33.9488 14.412 33.5928 14.02 33.3288 13.524C33.0728 13.02 32.9448 12.444 32.9448 11.796C32.9448 11.14 33.0728 10.564 33.3288 10.068C33.5928 9.564 33.9448 9.172 34.3848 8.892C34.8248 8.604 35.3128 8.46 35.8488 8.46C36.1928 8.46 36.5088 8.512 36.7968 8.616C37.0848 8.72 37.3328 8.852 37.5408 9.012C37.7568 9.172 37.9208 9.336 38.0328 9.504C38.1528 9.664 38.2128 9.8 38.2128 9.912L37.7808 10.068V9.192C37.7808 8.984 37.8488 8.812 37.9848 8.676C38.1208 8.532 38.2928 8.46 38.5008 8.46ZM36.0768 13.8C36.4288 13.8 36.7368 13.712 37.0008 13.536C37.2648 13.36 37.4688 13.12 37.6128 12.816C37.7648 12.512 37.8408 12.172 37.8408 11.796C37.8408 11.412 37.7648 11.068 37.6128 10.764C37.4688 10.46 37.2648 10.22 37.0008 10.044C36.7368 9.868 36.4288 9.78 36.0768 9.78C35.7328 9.78 35.4288 9.868 35.1648 10.044C34.9008 10.22 34.6928 10.46 34.5408 10.764C34.3968 11.068 34.3248 11.412 34.3248 11.796C34.3248 12.172 34.3968 12.512 34.5408 12.816C34.6928 13.12 34.9008 13.36 35.1648 13.536C35.4288 13.712 35.7328 13.8 36.0768 13.8ZM43.636 8.46C44.092 8.46 44.488 8.508 44.824 8.604C45.168 8.7 45.432 8.836 45.616 9.012C45.808 9.18 45.904 9.384 45.904 9.624C45.904 9.784 45.856 9.936 45.76 10.08C45.664 10.216 45.524 10.284 45.34 10.284C45.212 10.284 45.104 10.268 45.016 10.236C44.936 10.196 44.864 10.148 44.8 10.092C44.736 10.036 44.66 9.984 44.572 9.936C44.492 9.888 44.368 9.852 44.2 9.828C44.04 9.796 43.92 9.78 43.84 9.78C43.432 9.78 43.084 9.868 42.796 10.044C42.516 10.22 42.3 10.46 42.148 10.764C41.996 11.06 41.92 11.404 41.92 11.796C41.92 12.18 41.996 12.524 42.148 12.828C42.308 13.124 42.524 13.36 42.796 13.536C43.076 13.712 43.396 13.8 43.756 13.8C43.956 13.8 44.128 13.788 44.272 13.764C44.416 13.74 44.536 13.704 44.632 13.656C44.744 13.592 44.844 13.524 44.932 13.452C45.02 13.38 45.152 13.344 45.328 13.344C45.536 13.344 45.696 13.412 45.808 13.548C45.92 13.676 45.976 13.836 45.976 14.028C45.976 14.228 45.864 14.412 45.64 14.58C45.416 14.74 45.12 14.872 44.752 14.976C44.392 15.072 44 15.12 43.576 15.12C42.944 15.12 42.396 14.976 41.932 14.688C41.468 14.392 41.108 13.992 40.852 13.488C40.604 12.984 40.48 12.42 40.48 11.796C40.48 11.14 40.612 10.564 40.876 10.068C41.148 9.564 41.52 9.172 41.992 8.892C42.472 8.604 43.02 8.46 43.636 8.46ZM50.0384 15.12C49.3584 15.12 48.7664 14.98 48.2624 14.7C47.7664 14.412 47.3824 14.024 47.1104 13.536C46.8464 13.048 46.7144 12.496 46.7144 11.88C46.7144 11.16 46.8584 10.548 47.1464 10.044C47.4424 9.532 47.8264 9.14 48.2984 8.868C48.7704 8.596 49.2704 8.46 49.7984 8.46C50.2064 8.46 50.5904 8.544 50.9504 8.712C51.3184 8.88 51.6424 9.112 51.9224 9.408C52.2024 9.696 52.4224 10.032 52.5824 10.416C52.7504 10.8 52.8344 11.208 52.8344 11.64C52.8264 11.832 52.7504 11.988 52.6064 12.108C52.4624 12.228 52.2944 12.288 52.1024 12.288H47.5184L47.1584 11.088H51.5624L51.2984 11.328V11.004C51.2824 10.772 51.1984 10.564 51.0464 10.38C50.9024 10.196 50.7184 10.052 50.4944 9.948C50.2784 9.836 50.0464 9.78 49.7984 9.78C49.5584 9.78 49.3344 9.812 49.1264 9.876C48.9184 9.94 48.7384 10.048 48.5864 10.2C48.4344 10.352 48.3144 10.556 48.2264 10.812C48.1384 11.068 48.0944 11.392 48.0944 11.784C48.0944 12.216 48.1824 12.584 48.3584 12.888C48.5424 13.184 48.7744 13.412 49.0544 13.572C49.3424 13.724 49.6464 13.8 49.9664 13.8C50.2624 13.8 50.4984 13.776 50.6744 13.728C50.8504 13.68 50.9904 13.624 51.0944 13.56C51.2064 13.488 51.3064 13.428 51.3944 13.38C51.5384 13.308 51.6744 13.272 51.8024 13.272C51.9784 13.272 52.1224 13.332 52.2344 13.452C52.3544 13.572 52.4144 13.712 52.4144 13.872C52.4144 14.088 52.3024 14.284 52.0784 14.46C51.8704 14.636 51.5784 14.792 51.2024 14.928C50.8264 15.056 50.4384 15.12 50.0384 15.12ZM54.8125 15C54.6045 15 54.4325 14.932 54.2965 14.796C54.1605 14.652 54.0925 14.476 54.0925 14.268V9.312C54.0925 9.104 54.1605 8.932 54.2965 8.796C54.4325 8.652 54.6045 8.58 54.8125 8.58C55.0205 8.58 55.1925 8.652 55.3285 8.796C55.4645 8.932 55.5325 9.104 55.5325 9.312V10.44L55.4485 9.636C55.5365 9.444 55.6485 9.276 55.7845 9.132C55.9285 8.98 56.0885 8.856 56.2645 8.76C56.4405 8.656 56.6285 8.58 56.8285 8.532C57.0285 8.484 57.2285 8.46 57.4285 8.46C57.6685 8.46 57.8685 8.528 58.0285 8.664C58.1965 8.8 58.2805 8.96 58.2805 9.144C58.2805 9.408 58.2125 9.6 58.0765 9.72C57.9405 9.832 57.7925 9.888 57.6325 9.888C57.4805 9.888 57.3405 9.86 57.2125 9.804C57.0925 9.748 56.9525 9.72 56.7925 9.72C56.6485 9.72 56.5005 9.756 56.3485 9.828C56.2045 9.892 56.0685 9.996 55.9405 10.14C55.8205 10.284 55.7205 10.464 55.6405 10.68C55.5685 10.888 55.5325 11.136 55.5325 11.424V14.268C55.5325 14.476 55.4645 14.652 55.3285 14.796C55.1925 14.932 55.0205 15 54.8125 15ZM65.6229 15C65.3989 15 65.2149 14.932 65.0709 14.796C64.9269 14.652 64.8549 14.476 64.8549 14.268V7.308H66.4149V14.268C66.4149 14.476 66.3389 14.652 66.1869 14.796C66.0429 14.932 65.8549 15 65.6229 15ZM62.9709 7.98C62.7629 7.98 62.5869 7.916 62.4429 7.788C62.3069 7.66 62.2389 7.492 62.2389 7.284C62.2389 7.076 62.3069 6.912 62.4429 6.792C62.5869 6.664 62.7629 6.6 62.9709 6.6H68.2989C68.5069 6.6 68.6789 6.664 68.8149 6.792C68.9589 6.92 69.0309 7.088 69.0309 7.296C69.0309 7.504 68.9589 7.672 68.8149 7.8C68.6789 7.92 68.5069 7.98 68.2989 7.98H62.9709ZM74.9572 11.796C74.9572 12.452 74.8092 13.032 74.5132 13.536C74.2252 14.032 73.8332 14.42 73.3372 14.7C72.8492 14.98 72.3012 15.12 71.6932 15.12C71.0852 15.12 70.5332 14.98 70.0372 14.7C69.5492 14.42 69.1572 14.032 68.8612 13.536C68.5732 13.032 68.4292 12.452 68.4292 11.796C68.4292 11.14 68.5732 10.564 68.8612 10.068C69.1572 9.564 69.5492 9.172 70.0372 8.892C70.5332 8.604 71.0852 8.46 71.6932 8.46C72.3012 8.46 72.8492 8.604 73.3372 8.892C73.8332 9.172 74.2252 9.564 74.5132 10.068C74.8092 10.564 74.9572 11.14 74.9572 11.796ZM73.5172 11.796C73.5172 11.388 73.4332 11.036 73.2652 10.74C73.1052 10.436 72.8852 10.2 72.6052 10.032C72.3332 9.864 72.0292 9.78 71.6932 9.78C71.3572 9.78 71.0492 9.864 70.7692 10.032C70.4972 10.2 70.2772 10.436 70.1092 10.74C69.9492 11.036 69.8692 11.388 69.8692 11.796C69.8692 12.196 69.9492 12.548 70.1092 12.852C70.2772 13.148 70.4972 13.38 70.7692 13.548C71.0492 13.716 71.3572 13.8 71.6932 13.8C72.0292 13.8 72.3332 13.716 72.6052 13.548C72.8852 13.38 73.1052 13.148 73.2652 12.852C73.4332 12.548 73.5172 12.196 73.5172 11.796ZM82.4455 11.796C82.4455 12.452 82.2975 13.032 82.0015 13.536C81.7135 14.032 81.3215 14.42 80.8255 14.7C80.3375 14.98 79.7895 15.12 79.1815 15.12C78.5735 15.12 78.0215 14.98 77.5255 14.7C77.0375 14.42 76.6455 14.032 76.3495 13.536C76.0615 13.032 75.9175 12.452 75.9175 11.796C75.9175 11.14 76.0615 10.564 76.3495 10.068C76.6455 9.564 77.0375 9.172 77.5255 8.892C78.0215 8.604 78.5735 8.46 79.1815 8.46C79.7895 8.46 80.3375 8.604 80.8255 8.892C81.3215 9.172 81.7135 9.564 82.0015 10.068C82.2975 10.564 82.4455 11.14 82.4455 11.796ZM81.0055 11.796C81.0055 11.388 80.9215 11.036 80.7535 10.74C80.5935 10.436 80.3735 10.2 80.0935 10.032C79.8215 9.864 79.5175 9.78 79.1815 9.78C78.8455 9.78 78.5375 9.864 78.2575 10.032C77.9855 10.2 77.7655 10.436 77.5975 10.74C77.4375 11.036 77.3575 11.388 77.3575 11.796C77.3575 12.196 77.4375 12.548 77.5975 12.852C77.7655 13.148 77.9855 13.38 78.2575 13.548C78.5375 13.716 78.8455 13.8 79.1815 13.8C79.5175 13.8 79.8215 13.716 80.0935 13.548C80.3735 13.38 80.5935 13.148 80.7535 12.852C80.9215 12.548 81.0055 12.196 81.0055 11.796ZM85.2658 14.268C85.2658 14.476 85.1938 14.652 85.0498 14.796C84.9138 14.932 84.7418 15 84.5338 15C84.3338 15 84.1658 14.932 84.0298 14.796C83.8938 14.652 83.8258 14.476 83.8258 14.268V6.852C83.8258 6.644 83.8938 6.472 84.0298 6.336C84.1738 6.192 84.3498 6.12 84.5578 6.12C84.7658 6.12 84.9338 6.192 85.0618 6.336C85.1978 6.472 85.2658 6.644 85.2658 6.852V14.268ZM87.7802 15C87.5722 15 87.4002 14.932 87.2642 14.796C87.1282 14.652 87.0602 14.476 87.0602 14.268V6.852C87.0602 6.644 87.1282 6.472 87.2642 6.336C87.4002 6.192 87.5722 6.12 87.7802 6.12C87.9882 6.12 88.1602 6.192 88.2962 6.336C88.4322 6.472 88.5002 6.644 88.5002 6.852V14.268C88.5002 14.476 88.4322 14.652 88.2962 14.796C88.1602 14.932 87.9882 15 87.7802 15ZM91.5962 8.58C91.7802 8.58 91.9402 8.656 92.0762 8.808C92.2122 8.96 92.2802 9.108 92.2802 9.252C92.2802 9.444 92.1842 9.624 91.9922 9.792L88.3802 13.116L88.3202 11.46L91.0682 8.808C91.2202 8.656 91.3962 8.58 91.5962 8.58ZM91.7762 14.988C91.5682 14.988 91.3922 14.908 91.2482 14.748L89.0282 12.396L90.1202 11.388L92.2802 13.74C92.4322 13.9 92.5082 14.08 92.5082 14.28C92.5082 14.488 92.4242 14.66 92.2562 14.796C92.0962 14.924 91.9362 14.988 91.7762 14.988ZM95.1282 14.268C95.1282 14.476 95.0602 14.652 94.9242 14.796C94.7882 14.932 94.6162 15 94.4082 15C94.2002 15 94.0282 14.932 93.8922 14.796C93.7562 14.652 93.6882 14.476 93.6882 14.268V9.312C93.6882 9.104 93.7562 8.932 93.8922 8.796C94.0282 8.652 94.2002 8.58 94.4082 8.58C94.6162 8.58 94.7882 8.652 94.9242 8.796C95.0602 8.932 95.1282 9.104 95.1282 9.312V14.268ZM94.3962 7.8C94.1242 7.8 93.9322 7.756 93.8202 7.668C93.7082 7.58 93.6522 7.424 93.6522 7.2V6.972C93.6522 6.74 93.7122 6.584 93.8322 6.504C93.9602 6.416 94.1522 6.372 94.4082 6.372C94.6882 6.372 94.8842 6.416 94.9962 6.504C95.1082 6.592 95.1642 6.748 95.1642 6.972V7.2C95.1642 7.432 95.1042 7.592 94.9842 7.68C94.8642 7.76 94.6682 7.8 94.3962 7.8ZM96.6801 8.7H99.5241C99.7161 8.7 99.8761 8.764 100.004 8.892C100.132 9.02 100.196 9.18 100.196 9.372C100.196 9.556 100.132 9.712 100.004 9.84C99.8761 9.96 99.7161 10.02 99.5241 10.02H96.6801C96.4881 10.02 96.3281 9.956 96.2001 9.828C96.0721 9.7 96.0081 9.54 96.0081 9.348C96.0081 9.164 96.0721 9.012 96.2001 8.892C96.3281 8.764 96.4881 8.7 96.6801 8.7ZM97.9641 7.2C98.1721 7.2 98.3401 7.272 98.4681 7.416C98.6041 7.552 98.6721 7.724 98.6721 7.932V13.272C98.6721 13.384 98.6921 13.476 98.7321 13.548C98.7801 13.62 98.8401 13.672 98.9121 13.704C98.9921 13.736 99.0761 13.752 99.1641 13.752C99.2601 13.752 99.3481 13.736 99.4281 13.704C99.5081 13.664 99.6001 13.644 99.7041 13.644C99.8161 13.644 99.9161 13.696 100.004 13.8C100.1 13.904 100.148 14.048 100.148 14.232C100.148 14.456 100.024 14.64 99.7761 14.784C99.5361 14.928 99.2761 15 98.9961 15C98.8281 15 98.6401 14.988 98.4321 14.964C98.2321 14.932 98.0401 14.864 97.8561 14.76C97.6801 14.648 97.5321 14.48 97.4121 14.256C97.2921 14.032 97.2321 13.724 97.2321 13.332V7.932C97.2321 7.724 97.3001 7.552 97.4361 7.416C97.5801 7.272 97.7561 7.2 97.9641 7.2Z"
                            fill="var(--pc-color-neutral-1000)"
                        />
                        <defs>
                            <linearGradient
                                id="gradient-1"
                                x1="2.00373"
                                y1="2"
                                x2="17.9963"
                                y2="18"
                                gradientUnits="userSpaceOnUse"
                            >
                                <stop stop-color="#119ee2" />
                                <stop offset="0.33" stop-color="#256bb1" />
                                <stop offset="1" stop-color="#3b1c66" />
                            </linearGradient>
                        </defs>
                    </svg>
                    <span class="pc-visually-hidden">Placer Toolkit</span>
                </h1>

                <h3>The go‐to web component library for the web! 🛠️</h3>

                <ul>
                    <li>Works with any framework you like 🧩</li>
                    <li>Works with CDNs 🚛</li>
                    <li>Fully customisable with CSS 🎨</li>
                    <li>Full dark mode support 🌛</li>
                    <li>Built with accessibility in mind ♿️</li>
                    <li>Open‐source 🔓</li>
                    <li>With localisation and more coming soon! 🔮</li>
                </ul>

                <div class="main-buttons">
                    <pc-button
                        class="get-started-button"
                        href="/get-started/installation"
                        appearance="primary"
                        size="large"
                        pill
                    >
                        Get started
                        <pc-icon
                            library="default"
                            icon-style="solid"
                            name="chevron-right"
                            slot="suffix"
                        ></pc-icon>
                    </pc-button>

                    <pc-button
                        href="https://github.com/randomguy-2650/placer-toolkit"
                        target="_blank"
                        appearance="text"
                        size="large"
                        pill
                    >
                        View on GitHub
                        <pc-icon
                            library="default"
                            icon-style="solid"
                            name="arrow-up-right-from-square"
                            slot="suffix"
                        ></pc-icon>
                    </pc-button>
                </div>

                <script>
                    const getStartedButton = document.querySelector(".get-started-button");

                    getStartedButton?.addEventListener("mouseover", () => {
                        (getStartedButton.querySelector("pc-icon") as any).name =
                            "arrow-right";
                    });

                    getStartedButton?.addEventListener("mouseout", () => {
                        (getStartedButton.querySelector("pc-icon") as any).name =
                            "chevron-right";
                    });
                </script>
            </section>


            <section class="interactive-elements">
                <pc-tab-group
                    style="min-width: 33vw; max-width: 33vw; min-height: 500px; max-height: 500px"
                >
                    <pc-tab slot="navigation" panel="animation">Animation</pc-tab>
                    <pc-tab slot="navigation" panel="avatar">Avatar</pc-tab>
                    <pc-tab slot="navigation" panel="badge">Badge</pc-tab>
                    <pc-tab slot="navigation" panel="button">Button</pc-tab>
                    <pc-tab slot="navigation" panel="button-group">Button Group</pc-tab>
                    <pc-tab slot="navigation" panel="callout">Callout</pc-tab>
                    <pc-tab slot="navigation" panel="card">Card</pc-tab>
                    <pc-tab slot="navigation" panel="checkbox">Checkbox</pc-tab>
                    <pc-tab slot="navigation" panel="comparer">Comparer</pc-tab>
                    <pc-tab slot="navigation" panel="copy-button">Copy Button</pc-tab>
                    <pc-tab slot="navigation" panel="details">Details</pc-tab>
                    <pc-tab slot="navigation" panel="dialog">Dialog</pc-tab>
                    <pc-tab slot="navigation" panel="divider">Divider</pc-tab>
                    <pc-tab slot="navigation" panel="drawer">Drawer</pc-tab>
                    <pc-tab slot="navigation" panel="dropdown">Dropdown</pc-tab>
                    <pc-tab slot="navigation" panel="icon">Icon</pc-tab>
                    <pc-tab slot="navigation" panel="icon-button">Icon Button</pc-tab>
                    <pc-tab slot="navigation" panel="input">Input</pc-tab>
                    <pc-tab slot="navigation" panel="menu">Menu</pc-tab>
                    <pc-tab slot="navigation" panel="qr-code">QR Code</pc-tab>
                    <pc-tab slot="navigation" panel="radio-group">Radio Group</pc-tab>
                    <pc-tab slot="navigation" panel="rating">Rating</pc-tab>
                    <pc-tab slot="navigation" panel="resize-observer">
                        Resize Observer
                    </pc-tab>
                    <pc-tab slot="navigation" panel="select">Select</pc-tab>
                    <pc-tab slot="navigation" panel="spinner">Spinner</pc-tab>
                    <pc-tab slot="navigation" panel="switch">Switch</pc-tab>
                    <pc-tab slot="navigation" panel="tab-group">Tab Group</pc-tab>
                    <pc-tab slot="navigation" panel="tag">Tag</pc-tab>
                    <pc-tab slot="navigation" panel="tooltip">Tooltip</pc-tab>

                    <pc-tab-panel name="animation">
                        <div class="animation-overview">
                            <pc-animation name="bounce" duration="2000" play>
                                <div class="box"></div>
                            </pc-animation>
                            <pc-animation name="jello" duration="2000" play>
                                <div class="box"></div>
                            </pc-animation>
                            <pc-animation name="heartBeat" duration="2000" play>
                                <div class="box"></div>
                            </pc-animation>
                            <pc-animation name="flip" duration="2000" play>
                                <div class="box"></div>
                            </pc-animation>
                        </div>

                        <style>
                            .animation-overview .box {
                                display: inline-block;
                                width: 75px;
                                height: 75px;
                                margin: 1.25rem;
                                background-color: var(--pc-color-primary-400);
                                border-radius: var(--pc-border-radius-l);
                            }
                        </style>
                    </pc-tab-panel>
                    <pc-tab-panel name="avatar">
                        <pc-avatar label="User avatar"></pc-avatar>
                    </pc-tab-panel>
                    <pc-tab-panel name="badge">
                        <div
                            style="display: flex; gap: var(--pc-spacing-xs); flex-wrap: wrap"
                        >
                            <pc-badge appearance="primary">Primary</pc-badge>
                            <pc-badge appearance="success">Success</pc-badge>
                            <pc-badge appearance="neutral">Neutral</pc-badge>
                            <pc-badge appearance="warning">Warning</pc-badge>
                            <pc-badge appearance="danger">Danger</pc-badge>
                        </div>
                    </pc-tab-panel>
                    <pc-tab-panel name="button">
                        <div
                            style="display: flex; gap: var(--pc-spacing-xs); flex-wrap: wrap"
                        >
                            <pc-button appearance="default">Default</pc-button>
                            <pc-button appearance="primary">Primary</pc-button>
                            <pc-button appearance="success">Success</pc-button>
                            <pc-button appearance="warning">Warning</pc-button>
                            <pc-button appearance="danger">Danger</pc-button>
                            <pc-button appearance="text">Text</pc-button>
                        </div>
                    </pc-tab-panel>
                    <pc-tab-panel name="button-group">
                        <pc-button-group>
                            <pc-button>Left</pc-button>
                            <pc-button>Centre</pc-button>
                            <pc-button>Right</pc-button>
                        </pc-button-group>
                    </pc-tab-panel>
                    <pc-tab-panel name="callout">
                        <pc-callout appearance="primary">
                            <pc-icon
                                library="default"
                                icon-style="solid"
                                name="circle-info"
                                slot="icon"
                            ></pc-icon>
                            <strong>This is super informative</strong><br />
                            You can tell by how pretty the callout is.
                        </pc-callout>
                    </pc-tab-panel>
                    <pc-tab-panel name="card">
                        <pc-card style="max-width: 300px">
                            <img
                                slot="image"
                                src="https://placehold.co/300x200"
                                alt="A placeholder image with grey background and dark grey text in resolution 300 by 200 pixels"
                            />
                            <strong slot="header">Lorem ipsum</strong>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                                do eiusmod tempor incididunt ut labore et dolore magna
                                aliqua.
                            </p>
                            <footer
                                slot="footer"
                                style="display: flex; align-items: center; justify-content: flex-end; gap: var(--pc-spacing-xs)"
                            >
                                <pc-button appearance="primary" pill>
                                    <pc-icon
                                        slot="prefix"
                                        library="default"
                                        icon-style="solid"
                                        name="cart-shopping"
                                    ></pc-icon>
                                    Buy
                                </pc-button>
                                <pc-button appearance="text" aria-label="More info about this card" pill>More info</pc-button>
                            </footer>
                        </pc-card>
                    </pc-tab-panel>
                    <pc-tab-panel name="checkbox">
                        <div
                            style="display: flex; flex-direction: column; gap: var(--pc-spacing-xxs)"
                        >
                            <pc-checkbox size="small">Small</pc-checkbox>
                            <pc-checkbox size="medium">Medium</pc-checkbox>
                            <pc-checkbox size="large">Large</pc-checkbox>
                        </div>
                    </pc-tab-panel>
                    <pc-tab-panel name="comparer">
                        <pc-comparer style="overflow-x: hidden">
                            <img
                                slot="before"
                                src="https://images.unsplash.com/photo-1554110397-9bac083977c6?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=800&q=80"
                                alt="Colour version of kittens in a basket looking around."
                            />
                            <img
                                slot="after"
                                src="https://images.unsplash.com/photo-1554110397-9bac083977c6?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=800&q=80&sat=-100&bri=-5"
                                alt="Greyscale version of kittens in a basket looking around."
                            />
                        </pc-comparer>
                    </pc-tab-panel>
                    <pc-tab-panel name="copy-button">
                        <pc-copy-button value="Placer Toolkit rocks!"></pc-copy-button>
                    </pc-tab-panel>
                    <pc-tab-panel name="details">
                        <pc-details summary="Toggle me">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                            enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea commodo consequat.
                        </pc-details>
                    </pc-tab-panel>
                    <pc-tab-panel name="dialog">
                        <pc-dialog class="dialog-overview" label="Dialog">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            <pc-button
                                slot="footer"
                                appearance="text"
                                id="close-dialog-button"
                            >
                                Close
                            </pc-button>
                        </pc-dialog>

                        <pc-button id="open-dialog-button">Open dialog</pc-button>

                        <script>
                            interface PcDialog extends HTMLElement {
                                show(): void;
                                hide(): void;
                            }

                            const dialog: PcDialog = document.querySelector(".dialog-overview")!;
                            const openDialogButton =
                                document.getElementById("open-dialog-button");
                            const closeDialogButton = document.getElementById(
                                "close-dialog-button",
                            );

                            openDialogButton?.addEventListener("click", () => dialog.show());
                            closeDialogButton?.addEventListener("click", () => dialog.hide());
                        </script>
                    </pc-tab-panel>
                    <pc-tab-panel name="divider">
                        <pc-divider></pc-divider>
                    </pc-tab-panel>
                    <pc-tab-panel name="drawer">
                        <pc-drawer class="drawer-overview" label="Drawer">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            <pc-button
                                slot="footer"
                                appearance="text"
                                id="close-drawer-button"
                            >
                                Close
                            </pc-button>
                        </pc-drawer>

                        <pc-button id="open-drawer-button">Open drawer</pc-button>

                        <script>
                            interface PcDrawer extends HTMLElement {
                                show(): void;
                                hide(): void;
                            }

                            const drawer: PcDrawer = document.querySelector(".drawer-overview")!;
                            const openDrawerButton =
                                document.getElementById("open-drawer-button");
                            const closeDrawerButton = document.getElementById(
                                "close-drawer-button",
                            );

                            openDrawerButton?.addEventListener("click", () => drawer.show());
                            closeDrawerButton?.addEventListener("click", () => drawer.hide());
                        </script>
                    </pc-tab-panel>
                    <pc-tab-panel name="dropdown">
                        <pc-dropdown>
                            <pc-button slot="trigger">
                                Dropdown
                                <pc-icon
                                    library="default"
                                    icon-style="solid"
                                    name="chevron-down"
                                    slot="suffix"
                                ></pc-icon>
                            </pc-button>
                            <pc-menu>
                                <pc-menu-item>Item 1</pc-menu-item>
                                <pc-menu-item>Item 2</pc-menu-item>
                                <pc-menu-item>
                                    Item 3
                                    <pc-menu slot="submenu">
                                        <pc-menu-item>Item 4</pc-menu-item>
                                        <pc-menu-item>Item 5</pc-menu-item>
                                        <pc-menu-item>Item 6</pc-menu-item>
                                    </pc-menu>
                                </pc-menu-item>
                                <pc-divider></pc-divider>
                                <pc-menu-item type="checkbox" checked>Checkbox</pc-menu-item>
                                <pc-menu-item disabled>Disabled</pc-menu-item>
                                <pc-divider></pc-divider>
                                <pc-menu-item>
                                    <pc-icon
                                        library="default"
                                        icon-style="solid"
                                        name="gift"
                                        slot="prefix"
                                    ></pc-icon>
                                    Prefix
                                </pc-menu-item>
                                <pc-menu-item>
                                    <pc-icon
                                        library="default"
                                        icon-style="solid"
                                        name="heart"
                                        slot="suffix"
                                    ></pc-icon>
                                    Suffix
                                </pc-menu-item>
                            </pc-menu>
                        </pc-dropdown>
                    </pc-tab-panel>
                    <pc-tab-panel name="icon">
                        <div style="color: var(--pc-color-primary-500)">
                            <pc-icon
                                library="default"
                                icon-style="solid"
                                name="triangle-exclamation"
                            ></pc-icon>
                            <pc-icon
                                library="default"
                                icon-style="solid"
                                name="box-archive"
                            ></pc-icon>
                            <pc-icon
                                library="default"
                                icon-style="solid"
                                name="battery-three-quarters"
                            ></pc-icon>
                            <pc-icon
                                library="default"
                                icon-style="regular"
                                name="bell"
                            ></pc-icon>
                        </div>
                        <div style="color: var(--pc-color-violet-500)">
                            <pc-icon
                                library="default"
                                icon-style="regular"
                                name="clock"
                            ></pc-icon>
                            <pc-icon
                                library="default"
                                icon-style="solid"
                                name="cloud"
                            ></pc-icon>
                            <pc-icon
                                library="default"
                                icon-style="solid"
                                name="download"
                            ></pc-icon>
                            <pc-icon
                                library="default"
                                icon-style="regular"
                                name="file"
                            ></pc-icon>
                        </div>
                        <div style="color: var(--pc-color-success-500)">
                            <pc-icon
                                library="default"
                                icon-style="solid"
                                name="flag-checkered"
                            ></pc-icon>
                            <pc-icon
                                library="default"
                                icon-style="regular"
                                name="heart"
                            ></pc-icon>
                            <pc-icon
                                library="default"
                                icon-style="regular"
                                name="image"
                            ></pc-icon>
                            <pc-icon
                                library="default"
                                icon-style="solid"
                                name="bolt"
                            ></pc-icon>
                        </div>
                        <div style="color: var(--pc-color-warning-500)">
                            <pc-icon
                                library="default"
                                icon-style="solid"
                                name="microphone"
                            ></pc-icon>
                            <pc-icon
                                library="default"
                                icon-style="solid"
                                name="magnifying-glass"
                            ></pc-icon>
                            <pc-icon
                                library="default"
                                icon-style="regular"
                                name="star"
                            ></pc-icon>
                            <pc-icon
                                library="default"
                                icon-style="solid"
                                name="dumpster-fire"
                            ></pc-icon>
                        </div>
                    </pc-tab-panel>
                    <pc-tab-panel name="icon-button">
                        <pc-icon-button
                            library="default"
                            icon-style="solid"
                            name="gear"
                            label="Settings"
                        ></pc-icon-button>
                    </pc-tab-panel>
                    <pc-tab-panel name="input">
                        <pc-input
                            placeholder="Placeholder"
                            label="Label"
                            style="max-width: calc(100% - 10px); transform: translateX(4px)"
                        ></pc-input>
                    </pc-tab-panel>
                    <pc-tab-panel name="menu">
                        <pc-menu style="max-width: 200px;">
                            <pc-menu-item value="undo">Undo</pc-menu-item>
                            <pc-menu-item value="redo">Redo</pc-menu-item>
                            <pc-divider></pc-divider>
                            <pc-menu-item value="cut">Cut</pc-menu-item>
                            <pc-menu-item value="copy">Copy</pc-menu-item>
                            <pc-menu-item value="paste">Paste</pc-menu-item>
                            <pc-divider></pc-divider>
                            <pc-menu-item>
                                Find
                                <pc-menu slot="submenu">
                                    <pc-menu-item value="find">Find…</pc-menu-item>
                                    <pc-menu-item value="find-previous">Find previous</pc-menu-item>
                                    <pc-menu-item value="find-next">Find next</pc-menu-item>
                                </pc-menu>
                            </pc-menu-item>
                            <pc-menu-item>
                                Transformations
                                <pc-menu slot="submenu">
                                    <pc-menu-item value="uppercase">Make uppercase</pc-menu-item>
                                    <pc-menu-item value="lowercase">Make lowercase</pc-menu-item>
                                    <pc-menu-item value="capitalise">Capitalise</pc-menu-item>
                                </pc-menu>
                            </pc-menu-item>
                        </pc-menu>
                    </pc-tab-panel>
                    <pc-tab-panel name="qr-code">
                        <div class="qr-overview">
                            <pc-qr-code
                                value="https://example.com"
                                label="Scan this QR code to visit example.com."
                            ></pc-qr-code>

                            <br />

                            <pc-input label="Value" maxlength="255" clearable></pc-input>
                        </div>

                        <script>
                            interface PcInput extends HTMLElement {
                                value: string;
                            }

                            interface PcQrCode extends HTMLElement {
                                value: string;
                            }

                            (() => {
                                const container = document.querySelector(".qr-overview");
                                const qrCode = container?.querySelector("pc-qr-code") as PcQrCode | null;
                                const input = container?.querySelector("pc-input") as PcInput | null;

                                if (!qrCode || !input) {
                                    return;
                                }

                                customElements.whenDefined("pc-qr-code").then(() => {
                                    input.value = qrCode.value;
                                    input.addEventListener(
                                        "pc-input",
                                        () => (qrCode.value = input.value),
                                    );
                                });
                            })();
                        </script>

                        <style>
                            .qr-overview {
                                max-width: 256px;
                            }

                            .qr-overview pc-input {
                                margin-top: var(--pc-spacing-l);
                            }
                        </style>
                    </pc-tab-panel>
                    <pc-tab-panel name="radio-group">
                        <pc-radio-group label="Select an option" value="1">
                            <pc-radio value="1">Option 1</pc-radio>
                            <pc-radio value="2">Option 2</pc-radio>
                            <pc-radio value="3">Option 3</pc-radio>
                        </pc-radio-group>
                    </pc-tab-panel>
                    <pc-tab-panel name="rating">
                        <pc-rating label="Rating"></pc-rating>
                    </pc-tab-panel>
                    <pc-tab-panel name="resize-observer">
                        <div class="resize-observer-overview">
                            <pc-resize-observer>
                                <span>Resize this box and watch the console ↘️</span>
                            </pc-resize-observer>
                        </div>

                        <script>
                            const container = document.querySelector(
                                ".resize-observer-overview",
                            );
                            const resizeObserver =
                                container?.querySelector("pc-resize-observer");

                            resizeObserver?.addEventListener("pc-resize", (event) => {
                                console.log((event as CustomEvent).detail);
                            });
                        </script>

                        <style>
                            .resize-observer-overview {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                padding: var(--pc-spacing-xxxl) var(--pc-spacing-xxl);
                                border: 2px solid var(--pc-input-border-color);
                                border-radius: var(--pc-border-radius-l);
                                overflow: auto;
                                resize: both;
                            }
                        </style>
                    </pc-tab-panel>
                    <pc-tab-panel name="select" style="min-height: 500px">
                        <pc-select style="max-width: calc(100% - 10px); transform: translateX(4px)">
                            <pc-option value="option-1">Option 1</pc-option>
                            <pc-option value="option-2">Option 2</pc-option>
                            <pc-option value="option-3">Option 3</pc-option>
                            <pc-option value="option-4">Option 4</pc-option>
                            <pc-option value="option-5">Option 5</pc-option>
                            <pc-option value="option-6">Option 6</pc-option>
                        </pc-select>
                    </pc-tab-panel>
                    <pc-tab-panel name="spinner">
                        <pc-spinner></pc-spinner>
                        <pc-spinner style="font-size: 2rem; --track-width: 0.25rem"
                        ></pc-spinner>
                        <pc-spinner style="font-size: 4rem; --track-width: 0.5rem"
                        ></pc-spinner>
                    </pc-tab-panel>
                    <pc-tab-panel name="switch">
                        <div
                            style="display: flex; flex-direction: column; gap: var(--pc-spacing-xxs)"
                        >
                            <pc-switch size="small">Small</pc-switch>
                            <pc-switch size="medium">Medium</pc-switch>
                            <pc-switch size="large">Large</pc-switch>
                        </div>
                    </pc-tab-panel>
                    <pc-tab-panel name="tab-group">
                        <pc-tab-group>
                            <pc-tab slot="navigation" panel="general">General</pc-tab>
                            <pc-tab slot="navigation" panel="custom">Custom</pc-tab>
                            <pc-tab slot="navigation" panel="advanced">Advanced</pc-tab>
                            <pc-tab slot="navigation" panel="disabled" disabled>
                                Disabled
                            </pc-tab>

                            <pc-tab-panel name="general">
                                This is the general tab panel.
                            </pc-tab-panel>
                            <pc-tab-panel name="custom">
                                This is the custom tab panel.
                            </pc-tab-panel>
                            <pc-tab-panel name="advanced">
                                This is the advanced tab panel.
                            </pc-tab-panel>
                            <pc-tab-panel name="disabled">
                                This is a disabled tab panel.
                            </pc-tab-panel>
                        </pc-tab-group>
                    </pc-tab-panel>
                    <pc-tab-panel name="tag">
                        <pc-tag appearance="primary">Primary</pc-tag>
                        <pc-tag appearance="success">Success</pc-tag>
                        <pc-tag appearance="neutral">Neutral</pc-tag>
                        <pc-tag appearance="warning">Warning</pc-tag>
                        <pc-tag appearance="danger">Danger</pc-tag>
                    </pc-tab-panel>
                    <pc-tab-panel name="tooltip">
                        <div class="tooltip-placement-example">
                            <div class="tooltip-placement-example-row">
                                <pc-tooltip content="top-start" placement="top-start">
                                    <pc-button></pc-button>
                                </pc-tooltip>

                                <pc-tooltip content="top" placement="top">
                                    <pc-button>
                                        <pc-icon
                                            library="default"
                                            icon-style="solid"
                                            name="arrow-up"
                                        ></pc-icon>
                                    </pc-button>
                                </pc-tooltip>

                                <pc-tooltip content="top-end" placement="top-end">
                                    <pc-button></pc-button>
                                </pc-tooltip>
                            </div>

                            <div class="tooltip-placement-example-row">
                                <pc-tooltip content="left-start" placement="left-start">
                                    <pc-button></pc-button>
                                </pc-tooltip>

                                <pc-tooltip content="right-start" placement="right-start">
                                    <pc-button></pc-button>
                                </pc-tooltip>
                            </div>

                            <div class="tooltip-placement-example-row">
                                <pc-tooltip content="left" placement="left">
                                    <pc-button>
                                        <pc-icon
                                            library="default"
                                            icon-style="solid"
                                            name="arrow-left"
                                        ></pc-icon>
                                    </pc-button>
                                </pc-tooltip>

                                <pc-tooltip content="right" placement="right">
                                    <pc-button>
                                        <pc-icon
                                            library="default"
                                            icon-style="solid"
                                            name="arrow-right"
                                        ></pc-icon>
                                    </pc-button>
                                </pc-tooltip>
                            </div>

                            <div class="tooltip-placement-example-row">
                                <pc-tooltip content="left-end" placement="left-end">
                                    <pc-button></pc-button>
                                </pc-tooltip>

                                <pc-tooltip content="right-end" placement="right-end">
                                    <pc-button></pc-button>
                                </pc-tooltip>
                            </div>

                            <div class="tooltip-placement-example-row">
                                <pc-tooltip content="bottom-start" placement="bottom-start">
                                    <pc-button></pc-button>
                                </pc-tooltip>

                                <pc-tooltip content="bottom" placement="bottom">
                                    <pc-button>
                                        <pc-icon
                                            library="default"
                                            icon-style="solid"
                                            name="arrow-down"
                                        ></pc-icon>
                                    </pc-button>
                                </pc-tooltip>

                                <pc-tooltip content="bottom-end" placement="bottom-end">
                                    <pc-button></pc-button>
                                </pc-tooltip>
                            </div>
                        </div>

                        <style>
                            .tooltip-placement-example {
                                width: 300px;
                                margin: 1rem;
                            }

                            .tooltip-placement-example-row::after {
                                content: "";
                                display: table;
                                clear: both;
                            }

                            .tooltip-placement-example pc-button {
                                float: left;
                                width: 2.5rem;
                                height: 2.5rem;
                                margin-right: 0.25rem;
                            }

                            .tooltip-placement-example-row:nth-child(1)
                                pc-tooltip:first-child
                                pc-button,
                            .tooltip-placement-example-row:nth-child(5)
                                pc-tooltip:first-child
                                pc-button {
                                margin-left: calc(40px + 0.25rem);
                            }

                            .tooltip-placement-example-row:nth-child(2)
                                pc-tooltip:nth-child(2)
                                pc-button,
                            .tooltip-placement-example-row:nth-child(3)
                                pc-tooltip:nth-child(2)
                                pc-button,
                            .tooltip-placement-example-row:nth-child(4)
                                pc-tooltip:nth-child(2)
                                pc-button {
                                margin-left: calc((40px * 3) + (0.25rem * 3));
                            }
                        </style>
                    </pc-tab-panel>
                </pc-tab-group>
            </section>
        </div>

        <div class="below-fold">
            <h2>Special thanks</h2>

            <div class="special-thanks-container">
                <a href="https://lit.dev" rel="noreferrer noopener" target="_blank">
                    <article class="special-thanks-block">
                        <Image
                            src={litLogo}
                            alt=""
                            width={160}
                            height={200}
                            loading="eager"
                        />
                        <span>Lit</span>
                    </article>
                </a>
                <a
                    href="https://shoelace.style"
                    rel="noreferrer noopener"
                    target="_blank"
                >
                    <article class="special-thanks-block">
                        <Image
                            src={shoelaceLogo}
                            alt=""
                            width={127}
                            height={141}
                            loading="eager"
                        />
                        <span>Shoelace</span>
                    </article>
                </a>
                <a href="https://astro.build" rel="noreferrer noopener" target="_blank">
                    <article class="special-thanks-block">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
                            <g fill="var(--pc-color-neutral-1000)">
                                <path
                                    d="M47.7 107.1c-5.5-5-7.2-15.7-4.9-23.4 4 4.9 9.6 6.4 15.4 7.3 8.9 1.3 17.6.8 25.9-3.2l2.8-1.7a18 18 0 0 1-7.2 20l-5.5 3.8c-5.6 3.8-7.2 8.2-5 14.7l.2.7a14 14 0 0 1-6.6-5.6 15.8 15.8 0 0 1-2.6-8.6c0-1.5 0-3-.2-4.5-.5-3.7-2.2-5.3-5.5-5.4-3.3-.1-5.9 2-6.6 5.2l-.2.7Z"
                                />
                                <path
                                    d="M16 82.4s16.5-8 33-8l12.4-38.3c.5-2 1.8-3.2 3.3-3.2 1.6 0 3 1.3 3.4 3.2l12.4 38.3c19.6 0 33 8 33 8l-28-76c-.8-2.3-2.2-3.7-4-3.7H48c-1.8 0-3.1 1.4-4 3.7l-28 76Z"
                                />
                            </g>
                            <path
                                d="M47.7 107.1c-5.5-5-7.2-15.7-4.9-23.4 4 4.9 9.6 6.4 15.4 7.3 8.9 1.3 17.6.8 25.9-3.2l2.8-1.7a18 18 0 0 1-7.2 20l-5.5 3.8c-5.6 3.8-7.2 8.2-5 14.7l.2.7a14 14 0 0 1-6.6-5.6 15.8 15.8 0 0 1-2.6-8.6c0-1.5 0-3-.2-4.5-.5-3.7-2.2-5.3-5.5-5.4-3.3-.1-5.9 2-6.6 5.2l-.2.7Z"
                                fill="url(#gradient-2)"
                            />
                            <defs>
                                <linearGradient
                                    id="gradient-2"
                                    x1="64.7"
                                    x2="77.4"
                                    y1="119.2"
                                    y2="77.4"
                                    gradientUnits="userSpaceOnUse"
                                >
                                    <stop stop-color="#d83333" />
                                    <stop offset="1" stop-color="#f041ff" />
                                </linearGradient>
                            </defs>
                        </svg>
                        <span>Astro</span>
                    </article>
                </a>
                <a
                    href="https://floating-ui.com"
                    rel="noreferrer noopener"
                    target="_blank"
                >
                    <article class="special-thanks-block">
                        <Image src={floatingUILogo} alt="" width={373} height={558} />
                        <span>Floating UI</span>
                    </article>
                </a>
                <a
                    href="https://custom-elements-manifest.open-wc.org"
                    rel="noreferrer noopener"
                    target="_blank"
                >
                    <article class="special-thanks-block">
                        <Image
                            src={customElementsManifestLogo}
                            alt=""
                            width={244}
                            height={244}
                        />
                        <span>Custom Elements Manifest</span>
                    </article>
                </a>
                <a
                    href="https://pagefind.app"
                    rel="noreferrer noopener"
                    target="_blank"
                >
                    <article class="special-thanks-block">
                        <Image src={pagefindLogo} alt="" width={123} height={96.9999} />
                        <span>Pagefind</span>
                    </article>
                </a>
            </div>
        </div>
    </div>
</Page>

<style>
    .landing-page {
        width: 100%;
    }

    .landing-page .above-fold {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--pc-spacing-xl);
        width: 100%;
        margin-bottom: var(--pc-spacing-2xl);
    }

    .landing-page h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .landing-page h1 .logo-wordmark {
        display: block;
        width: 100%;
        max-width: 75%;
        height: auto;
    }

    .main-buttons {
        display: flex;
        align-items: center;
        gap: var(--pc-spacing-s);
    }

    .special-thanks-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--pc-spacing-l);
    }

    .special-thanks-container a {
        color: var(--pc-color-neutral-950);
        border-radius: var(--pc-border-radius-l);
        text-decoration: none;
    }

    .special-thanks-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: var(--pc-spacing-l);
        background-color: var(--pc-color-neutral-100);
        padding: var(--pc-spacing-xl);
        border: 1px solid var(--pc-color-neutral-200);
        border-radius: var(--pc-border-radius-l);
        box-shadow: var(--pc-shadow-l);
        transition: all var(--pc-transition-fast) ease-in-out;
    }

    .special-thanks-block:hover {
        background-color: var(--pc-color-neutral-200);
        border-color: var(--pc-color-neutral-300);
    }

    .special-thanks-block:active {
        background-color: var(--pc-color-neutral-50);
        border-color: var(--pc-color-neutral-100);
    }

    .special-thanks-block :is(img, svg) {
        width: 7rem;
        height: 7rem;
    }

    .special-thanks-block span {
        font-size: 1.1rem;
        font-weight: var(--pc-font-weight-semibold);
        text-align: center;
    }

    @media screen and (max-width: 1024px) {
        .landing-page .above-fold {
            flex-direction: column;
            align-items: stretch;
            gap: var(--pc-spacing-l);
            margin-bottom: var(--pc-spacing-xxxxl);
        }

        .landing-page .main-info {
            width: 100%;
        }

        .landing-page .interactive-elements {
            margin-top: var(--pc-spacing-l);
            width: 100%;
            min-width: 0 !important;
            max-width: 100vw !important;
        }

        .landing-page .interactive-elements pc-tab-group {
            min-width: 0 !important;
            width: 100% !important;
            max-width: 100vw !important;
        }

        .special-thanks-container {
            grid-template-columns: 1fr;
            gap: var(--pc-spacing-m);
        }
    }
</style>
